[Loots FAQ](../../) > [Deutsch](../) > Wie verifiziere ich meinen PayPal Account?

# Wie verifiziere ich meinen PayPal Account?

Wenn du deine [persönlichen Details](https://loots.com/en/account/personal-details) eingibst, 
gebe deine PayPal E-Mail Adresse an und klicke den "Save" Button. Du wirst eine Aktivierungs E-Mail erhalten. 
Klicke dort auf "Verify E-Mail" und dein PayPal Account ist verifiziert.
